/* the rule below is a descendant selector*/

.box p {
    color: red;
}

/* The example below is a child combinator. It ony selects the li elemenets that are a direct child of ul*/
ul>li {
    border-top: 5px solid red;
}

/*The example below is the next-sibling combinator. It only selects the next sibling elements of the first selector*/
h1+p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}

/*This is the subsequent-sibling combinator. It selectes the paragraghs that comes after the h2 elements*/
h2 ~ p {
    font-weight: bold;
    background-color: red;
    color: #fff;
    padding: 0.5em;
  }