.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    min-height: 100vh;
    grid-template-areas: 
     "header header header"
     "sidebar content content"
     "footer footer footer"
}

@media(width<400px){
    .container{
        grid-template-areas: 
         "header header sidebar"
         "sidebar content content"
         "footer footer footer"
    }

}
.container header{
    background-color: aqua;
    /* grid-column: 1/-1; */
    grid-area: header;
}

.container aside{
    background-color: red;
    grid-area: sidebar;
}

.container main{
    background-color: wheat;
    /* grid-column:span 2;  */
    grid-area: content;
}

.container footer{
    background-color: gray;
    /* grid-column: 1/-1; */
    grid-area: footer;

}